{% if claim.isDenied() %}
<div class='errorbox'>{{ wfMessage('claim_denied') }}</div>
{% endif %}
{% if claim.isNew() %}
<div class='successbox'>{{ wfMessage('claim_created') }}</div>
{% endif %}
{% if claim.isPending() %}
<div class='successbox'>{{ wfMessage('claim_pending') }}</div>
{% endif %}
<br style='clear: both;'/>
<a href='{{ mainPageURL }}'>{{ wfMessage('returnto', wgSiteName).escaped() }}</a>
